[Unit]
Description=jetrun CI/CD Platform
Wants=jetrun-gateway.service jetrun-engine.service jetrun-worker.service jetrun-cache.service jetrun-auth.service jetrun-repo.service jetrun-repo-controller.service jetrun-web.service

[Install]
WantedBy=multi-user.target
